# requirements.txt
# This file lists the Python libraries your project needs.
# The Werkzeug version is now pinned to be compatible with Flask 2.2.2.

Flask==2.2.2
requests==2.28.1
gunicorn==20.1.0
Werkzeug==2.2.2

